#main {
    background-color: #f6f8fc;
    width: 100%;
    height: 745px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo{
    color: rgb(160, 157, 157);
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 64px;
}

input{
    width: 350px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border-color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 35px;
}

#emaillabel{
   margin-right: 35px;
}

#password{
    margin-bottom: 20px;
}

label {
    color: rgb(3, 14, 79);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-right: 35px;
}

button {
    width: 150px;
    height: 30px;
    margin-bottom: 1px;
    background-color: #064b60;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    border-radius: 16px;
}

button:active {
    background-color: rgb(2, 59, 144);
    transform: translateY(1px);
}


#login-signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

#myform{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 180px;
    width:350px;
    border-radius: 20px;    
    background-color: rgb(234,241,251);
}

#error{
    color:red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}