<div id="main">
    <div id="logo">
        <b style="color: rgb(3, 63, 116);">
            M
        </b>
        mail
    </div>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" id="myform">
        <div id="email">
            <input type="email" placeholder="Email Address" formControlName="email">
        </div>
        <div id="password">
            <input type="password" placeholder="Password" formControlName="password">
            <div id="error" *ngIf="show">*Incorrect password</div>
        </div>
        <div id="login-signup" >
            <button id="login" type="submit">
                Login
            </button>
            <button id="signup" [routerLink]="['/signup']">
                Sign Up
            </button>
        </div>
    </form>
</div>

<!-- [routerLink]="['/mail-page']" -->