<div class="container">
    <div id="top"> 
        <!-- <div id="backicon" [routerLink]="['/mail-page', {outlets:{main:'sent'}}]"><fa-icon [icon]="faArrowLeft" ></fa-icon></div> -->
    </div>
    <div id="InboxemailsDiv">
        <div id="subject">{{email?.title}}</div>
        <div id="To"><label>From: </label> {{email?.sender}}</div>
        <div id="To"><label>To: </label>  {{email?.receivers}}</div>
        <div id="message">
            {{email?.body}}
        </div>
        <div *ngIf="email?.attachments?.at(0) != ''" id="attachmentsDiv">
            <div *ngFor="let attachment of email?.attachments" (click)="openAttachment(attachment)" class="attachment">
               <fa-icon [icon]="java" *ngIf="attachment.endsWith('java')"></fa-icon>
               <fa-icon [icon]="Pdf" *ngIf="attachment.includes('pdf')"></fa-icon> 
               <fa-icon [icon]="Js" *ngIf="attachment.includes('js')"></fa-icon>
               <fa-icon [icon]="docx" *ngIf="attachment.includes('docx')"></fa-icon>
               <fa-icon [icon]="Excel" *ngIf="attachment.includes('xlsx')"></fa-icon>
               <fa-icon [icon]="Image" *ngIf="attachment.includes('png') || attachment.includes('jpg')"></fa-icon>
               <fa-icon [icon]="Html" *ngIf="attachment.includes('html')"></fa-icon>
               <fa-icon [icon]="c" *ngIf="attachment.includes('cpp')"></fa-icon>
               <fa-icon [icon]="Css" *ngIf="attachment.includes('css')"></fa-icon>
                {{ attachment }}

                <span class="tooltiptext">download</span>
            </div>
        </div>
    </div>
</div>

<!-- *ngIf="root == 'inbox' || root == 'trash'"
*ngIf="root != 'inbox'" -->

<!-- *ngIf="str.includes('java')" -->