<div class="container">
    <div id="top"> 
        <input type="checkbox" (change)="selectAll()" #checkAllBox>
        <div><fa-icon [icon]="faRotateRight" id="rotateicon"></fa-icon></div>
        <!-- <div id="trashiconall" (click)="user.deleteAll(checkedEmail,'inbox')"><fa-icon [icon]="faTrash"></fa-icon></div> -->
    </div>
    
    <div id="InboxemailsDiv" #emailsDiv>
        <div id="modes"> 
            <div class="mode" (click)="styleIt = true" [ngClass]="{activetab:styleIt}">Default</div>
            <div class="mode" (click)="styleIt = false" [ngClass]="{activetab:!styleIt}">Priority</div>
        </div>
        <div *ngFor="let email of folder.emails" [routerLink]="['/mail-page',{outlets:{main:['sentemails', email.id]}}]" class="email">
            <input type="checkbox" (change)="selectEmail($event,email)" [checked]="allChecked">
            <span class="to">To: {{email.receivers[0]}}</span>
            <p class="subject"><b>{{email.title}}</b> - {{email.body}}</p>
            <!-- <button  id="trashicon" (click)="user.deleteEmail(email, 'inbox')"><fa-icon [icon]="faTrash"></fa-icon></button> -->
            <span class="datespan">{{ email.time }}</span>
        </div>
    </div>
    
    <router-outlet></router-outlet>
</div>