<div class="container">
    <div id="top"> 
        <input type="checkbox" (change)="selectAll()" #checkAllBox>
        <div>
            <fa-icon [icon]="faRotateRight" id="rotateicon"></fa-icon>
        </div>
        <select id="move-all" (change)="[moveMultiple($event)]">
            <option value="">Move To</option>
            <option>inbox</option>
            <option>sent</option>
            <option>trash</option>
            <option>draft</option>
            <option *ngFor="let folder of s.folders">{{ folder }}</option>
        </select>
        <div id="trashiconall" (click)="deleteAll()">
            <fa-icon [icon]="faTrash"></fa-icon>
        </div>
        <button id="sortButton" (click)="showsort=!showsort">
            Sort <fa-icon [icon]="faSort"></fa-icon>
        </button>
        <button id="filterButton" (click)="showfilter=!showfilter">
            filter <fa-icon [icon]="faFilter"></fa-icon>
        </button>

        <!---------------------     Sorting form       ------------------------------->
        <form [formGroup]="sortGroup"  id="sort" *ngIf="showsort" (ngSubmit)="onSort()">
            <div class="sortdiv">
                <label>
                    Sort by
                </label>
                <select formControlName="sortType">
                    <option>priority</option>
                    <option>Date</option>
                </select>
            </div>

            <div class="sortdiv">
                <label>
                    order 
                </label>
                <select formControlName="sortIdentifier">
                    <option>Ascending</option>
                    <option>Descending</option>
                </select>
            </div>

            <button id="sortsort" type="submit">
                Sort
            </button>
        </form>

        <!---------------------     Filtering form       ------------------------------->
        <form [formGroup]="filterGroup" id="filter" *ngIf="showfilter" (ngSubmit)="onFilter()">
            <div class="filterdiv">
                <label>
                    Filter by
                </label>
                <select formControlName="filterType">
                    <option >priority</option>
                    <option>Attachments</option>
                </select>
            </div>

            <div *ngIf="filterGroup.get('filterType')?.value == 'priority'" class="filterdiv">
                <label>
                    priority
                </label>
                <select formControlName="priorityIdentifier">
                    <option>urgent</option>
                    <option>high</option>
                    <option>normal</option>
                    <option>low</option>
                </select>
            </div>

            <div *ngIf="filterGroup.get('filterType')?.value == 'Attachments'" class="filterdiv">
                <label>
                    Attachments
                </label>
                <select formControlName="attachIdentifier">
                    <option>attachment</option>
                    <option>no attachment</option>
                </select>
            </div>
            <button id="filterfilter" type="submit">
                filter
            </button>
        </form>
        <!---------------------------------->
    </div>
    
    <div id="InboxemailsDiv" #emailsDiv>
        <div id="modes">
            <div class="mode" (click)="styleIt = true" [ngClass]="{activetab:styleIt}">Default</div>
            <div class="mode" (click)="styleIt = false" [ngClass]="{activetab:!styleIt}">Priority</div>
        </div>
        <div *ngFor="let email of folder.emails"  class="email" (click)="[viewMail(email)]">
            <input type="checkbox" style="margin-bottom: 15px;" (change)="[selectEmail(email, $event)]" (click)="$event.stopPropagation()" [checked]="allChecked">
            <span class="to">To: {{email.receivers[0]}}</span>
            <p class="subject"><b>{{email.title}}</b> - {{email.body}}</p>
            <select id="move" (change)="[moveEmail(email, $event)]" (click)="[$event.stopPropagation()]">
                <option value="">Move To</option>
                <option id="move">inbox</option>
                <option id="move">sent</option>
                <option id="move">trash</option>
                <option id="move">draft</option>
                <option id="move" *ngFor="let folder of s.folders">{{ folder }}</option>
            </select>
            <button  id="trashicon" (click)="[deleteEmail(email.id, $event), $event.stopPropagation()]"><fa-icon [icon]="faTrash"></fa-icon></button>
            <span class="datespan">{{ email.time }}</span>
        </div>
    </div>
    <!-- [routerLink]="['/mail-page',{outlets:{main:['sentemails', email.id]}}]" -->
    <!-- <router-outlet></router-outlet> -->
</div>