<div class="container">
    <div id="top"> 
        <input type="checkbox">
        <div><fa-icon [icon]="faRotateRight" id="rotateicon"></fa-icon></div>
        <button id="new-contact">
            <fa-icon [icon]="faPlus" style="margin-right: 5px;"></fa-icon>
            Add Contact
        </button>
    </div>

    
    <div id="contactsDiv" #contactsDivs>
        <div class="edit-contact" [ngClass]="{show: showEdit}">
            <div id="sub-div" style="width: 100%; font-size: xx-large; font-family: Cambria;">
                Add/Edit Contact
            </div>
            <div id="names">
                <div id="sub-div">
                    <label style="margin-right: 7px;">First Name</label>
                    <input type="text" #firstName>
                </div>
                <div id="sub-div">
                    <label style="margin-right: 7px;">Last Name</label>
                    <input type="text" #lastName>
                </div>
            </div>
            <div id="emails">
                <span style="margin-right: 7px;">
                    Emails
                </span>
                <textarea id="email-input" #emails></textarea>
            </div>
            <div id="new-contact-options">
                <button (click)="addContact()">
                    <fa-icon [icon]="faSave" style="font-size: large;"></fa-icon>
                </button>
                <button (click)="toggleShowEdit()">
                    <fa-icon [icon]="faX" style="font-size: large;"></fa-icon>
                </button>
            </div>
        </div>
        <div *ngFor="let contact of user.contacts" class="contactEntry">
            <div class="name">
                <input type="checkbox">
                {{contact.name}}
            </div>
            <div class="accounts">
                <span *ngFor="let acc of contact.accounts">
                   {{acc.email}}
                   <br>
                </span>
            </div>
            <div class="options">
                <button id="edit" (click)="toggleShowEdit()">
                    <fa-icon [icon]="faPenToSquare"></fa-icon>
                </button>
                <button id="delete">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </div>
        </div>
        
    </div>
    
    <router-outlet></router-outlet>
</div>
