.container{
    padding-top: 10px;
    background-color: #f6f8fc;
    width:1536px;
    height: 60px;
}

#menu{
    position: absolute;
    left: 10px;
    top: 7px;
    width:45px;
    height: 45px;
    border:none;
    cursor: pointer;
    border-radius: 90%;
    color: rgb(0, 0, 0);
}

#menu:hover{
    background-color: rgb(220, 220, 220);
}

#fabars{
     font-size: x-large;
}

#logo{
    color: rgb(160, 157, 157);
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left: 110px;
    top: 15px;
    font-size: x-large;
    width:45px;
    height: 45px;
    cursor: pointer;
}

#Search{
    position: relative;
    margin-left: 260px;
    width:690px;
    height: 50px;
    background-color: rgb(234,241,251);
    border-radius: 10px;
    color: rgb(0, 28, 53);
}

#Search input[type="search"]{
    margin-left: 45px;
    margin-right: 20px;
    font-size: 16px;
    border: none;
    height: 50px;
    width:600px;
    background-color:rgb(234,241,251);
}

#Search input[type="search"]:focus{
   outline: none;
} 

.icons{
    position: absolute;
    width:24px;
    height: 24px;
    text-align: center;
    padding: 5px;
    font-size: large;
    border-radius: 100%;
    cursor: pointer;
}

 #faSliders{
    user-select: none;
    font-size: x-large;
    top:7px;
    right: 10px;   
} 

#fasearch{
    top:10px;
    left:8px;
}

#faxmark:hover,#fasearch:hover{
    background-color: rgba(211, 211, 211, 0.863);
}

form{
    top:61px;
    left:260px;
    padding-top: 10px;
    font-size: 16px;
    border: none;
    height: 400px;
    width:690px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 244, 221);
}



.searchcriteria{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 50px;

}

input{
    font-size: 17px;
    padding-left: 10px;
    height: 30px;
    border-radius: 20px;
    width:555px;
}

select{
    border-radius: 10px;
    width:150px;
    height: 30px;
    font-size: 17px;
}

label{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100px;
}

#submit{
    margin-left: 570px;
    height: 30px;
    width:100px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: aliceblue;
    background-color: rgb(4, 4, 66);
    cursor: pointer;
}

/* background-color: rgb(234,241,251); */