.container{
    background-color:#f6f8fc;
    width:250px;
    height: 605px;
    position: relative;
}

#items{
    margin-top: 10px;
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hidden{
    width:70px;
}

.hide{
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
    width:30px;
    height: 30px;
    line-height: 200%;
    background-color: rgb(216, 239, 255);
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgb(0, 255, 238);
}

li.hide:hover{
    box-shadow: 0px 0px 5px rgb(0, 102, 179);
}

.itemslist{
    list-style: none;
    text-align: left;
    margin-left: 20px;
    width:200px;
    height: 30px;
    line-height: 200%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

li.itemslist:hover{
    margin: 0;
    padding-left: 30px;
    width:220px;
    background-color: rgb(223, 222, 222);
}

.hidebutton{
    display: none;
}

button{
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: inherit;
}

.active{
    margin: 0;
    padding-left: 50px;
    width:200px;
    background-color: rgb(6, 85, 183);
    color:seashell
}

li.active.hide{
    padding: 0px;
    width:30px;
    margin-bottom: 20px;
    background-color: rgb(6, 85, 183);
    color:seashell
}

li.active.hide:hover{
    padding: 0px;
    width:30px;
    margin-bottom: 20px;
    background-color: rgb(6, 85, 183);
    color:seashell
}



li.active:hover{
    width:200px;
    padding-left: 50px;
    background-color: rgb(6, 85, 183);
}


/* edit folder */
.edit-folder {
    position: absolute;
    width: 500px;
    height: 200px;
    left: 500px;
    top: 150px;
    box-shadow: 0px 3px 3px 2px grey;
    grid-template-rows: 2fr 1fr 1fr;
    background-color: rgb(234,241,251);
    border-radius: 20px;
    display: none;
    z-index: 10;
}

#sub-div {
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.show {
    display: grid;
}

input[type="text"] {
    font-size: 16px;
    width: 260px;
    height: min-content;
    border-radius: 10px;
    padding-left: 5px;
    padding-block: 2px;
    background-color: white;
}

#names {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#new-folder-options {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10px;
    margin-right: 20px;
}

.options {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: seashell;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

.options:hover {
    background-color: rgb(223, 222, 222);
}

.options:active {
    background-color: rgb(6, 85, 183);
    transform: translateY(1px);
}

/* ***************** */