<div [ngClass]="{hidden:Do()}" class="container">
        <ul id="items">
                <li [routerLink]="[{outlets:{main:'inbox'}}]" [routerLinkActive]="'active'"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <fa-icon [icon]="faInbox"></fa-icon>
                        <button [ngClass]="{hidebutton:Do()}">Inbox</button>
                </li>
                <li [routerLink]="[{outlets:{main:'sent'}}]" [routerLinkActive]="'active'"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <fa-icon [icon]="faPaperPlane"></fa-icon>
                        <button [ngClass]="{hidebutton:Do()}">Sent</button>
                </li>
                <li [routerLink]="[{outlets:{main:'trash'}}]" [routerLinkActive]="'active'"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <fa-icon [icon]="faTrash"></fa-icon>
                        <button [ngClass]="{hidebutton:Do()}">Trash</button>
                </li>
                <li [routerLink]="[{outlets:{main:'draft'}}]" [routerLinkActive]="'active'"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <fa-icon [icon]="faNoteSticky"></fa-icon>
                        <button [ngClass]="{hidebutton:Do()}">Draft</button>
                </li>
                <li [routerLink]="[{outlets:{main:'new-mail'}}]" [routerLinkActive]="'active'"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <i class="bi bi-pen-fill"></i>
                        <button [ngClass]="{hidebutton:Do()}">New Mail</button>
                </li>
        </ul>
</div>