div{
    background-color: rgb(243, 242, 240);
    width:250px;
    height: 693px;
}

#items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#items li{
    list-style: none;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(205, 234, 255);
    cursor: pointer;
}

button {
    background-color: rgb(205, 234, 255);
    border: none;
    cursor: pointer;
}