<div [ngClass]="{hidden:Do()}" class="container">
        <ul id="items">
                <li (click)="changeFolderName('inbox')" [routerLink]="[{outlets:{main:'folder'}}]"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <fa-icon [icon]="faInbox"></fa-icon>
                        <button [ngClass]="{hidebutton:Do()}">Inbox</button>
                </li>
                <li (click)="changeFolderName('sent')" [routerLink]="[{outlets:{main:'folder'}}]"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <fa-icon [icon]="faPaperPlane"></fa-icon>
                        <button [ngClass]="{hidebutton:Do()}">Sent</button>
                </li>
                <li (click)="changeFolderName('trash')" [routerLink]="[{outlets:{main:'folder'}}]"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <fa-icon [icon]="faTrash"></fa-icon>
                        <button [ngClass]="{hidebutton:Do()}">Trash</button>
                </li>
                <li (click)="changeFolderName('draft')" [routerLink]="[{outlets:{main:'folder'}}]"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <fa-icon [icon]="faNoteSticky"></fa-icon>
                        <button [ngClass]="{hidebutton:Do()}">Draft</button>
                </li>
                <li (click)="changeFolderName('custom1')" [routerLink]="[{outlets:{main:'folder'}}]"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <fa-icon [icon]="faNoteSticky"></fa-icon>
                        <button [ngClass]="{hidebutton:Do()}">Custom Folder</button>
                        <ul>
                                <!-- <li *ngFor="let customFolder of s.getFolderNames()">
                                        {{ customFolder }}
                                </li> -->
                        </ul>
                </li>
                <li [routerLink]="[{outlets:{main:'new-mail'}}]" [routerLinkActive]="'active'"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <i class="bi bi-pen-fill"></i>
                        <button [ngClass]="{hidebutton:Do()}">New Mail</button>
                </li>
                <li [routerLink]="[{outlets:{main:'contacts'}}]" [routerLinkActive]="'active'"
                        [ngClass]="Do()?'hide':'itemslist'">
                        <fa-icon [icon]="faContactBook"></fa-icon>
                        <button [ngClass]="{hidebutton:Do()}">Contacts</button>
                </li>
        </ul>
</div>