<div class="container">
    <div id="top"> 
        <input type="checkbox">
        <div><fa-icon [icon]="faRotateRight" id="rotateicon"></fa-icon></div>
    </div>
    
    <div id="emailsDiv" #emailsDiv> 
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
        <button routerLink="sentemails/1"> See email</button>
    </div>
    
    <router-outlet></router-outlet>
</div>
