<div class="container">
    <div id="top"> 
        <!-- <input type="checkbox" (change)="selectAll()" #checkAllBox> -->
        <div><fa-icon [icon]="faRotateRight" id="rotateicon"></fa-icon></div>
        <!-- <div id="trashiconall" (click)="user.deleteAll(checkedEmail,'sent')"><fa-icon [icon]="faTrash"></fa-icon></div> -->
    </div>
    
    <div id="emailsDiv" #emailsDiv> 
        <!-- <div *ngFor="let email of user.sent" [routerLink]="['/mail-page',{outlets:{main:['sentemails','sent',email.id]}}]" class="email">
            <input type="checkbox" (change)="selectEmail($event,email)" [checked]="allChecked">
            <span class="to">To: {{email.to}}</span>
            <p class="subject"><b>{{email.subject}}</b> - {{email.message}}</p>
            <button  id="trashicon" (click)="user.deleteEmail(email, 'sent')"><fa-icon [icon]="faTrash"></fa-icon></button>
            <span class="datespan">{{email.date.getFullYear() + '-' + (email.date.getMonth()+1) + '-' + email.date.getDate()}}</span>
        </div>
    </div> -->

        <div class="email">
            <span class="to">To: asdasdadad</span>
            <p class="subject"><b>sdasdada</b> asdadadasssssssss
            asdddddddddddddddddddddddddddddddddddd
            saddddddddddddddddddddddddddddddddddddddd</p>
            <button  id="trashicon" ><fa-icon [icon]="faTrash"></fa-icon></button>
            <span class="datespan">22-2-2022</span>
        </div>
    
    <router-outlet></router-outlet>
</div>

<!-- [routerLink]="['/mail-page',{outlets:{main:['sentemails','sent',email.id]}}]" -->

<!-- <div class="email">
            
    <span class="to">To: asdasdadad</span>
    <p class="subject"><b>sdasdada</b> asdadadasssssssss
    asdddddddddddddddddddddddddddddddddddd
    saddddddddddddddddddddddddddddddddddddddd</p>
    <button  id="trashicon" ><fa-icon [icon]="faTrash"></fa-icon></button>
    <span class="datespan">22-2-2022</span>
</div> -->