<div id="main">
    <div id="logo">
        <b style="color: rgb(3, 63, 116);">M</b>mail
    </div>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" id="myform">
        <h1> Create an Account </h1> 
        <div id="email">
            <input type="email" placeholder="E-mail" formControlName="email">
        </div>
        <div id="password">
            <input type="password" placeholder="Password" formControlName="password">
        </div>
        <span *ngIf="wrongacc">Email is already in use</span>
        <button id="login"  type="submit" >
            Submit
        </button>
    </form>
</div>
