<div class="container">
    <!-- <div id="top"> 
        <div id="backicon" [routerLink]="['/mail-page', {outlets:{main:'sent'}}]"><fa-icon [icon]="faArrowLeft" ></fa-icon></div>
        <input type="checkbox">
        <div id="rotateicon"><fa-icon [icon]="faRotateRight"></fa-icon></div>
    </div> -->
    <div id="InboxemailsDiv">
        <!-- <div id="subject">{{email?.subject}}</div>
        <div id="To" *ngIf="root == 'inbox' || root == 'trash'">From: {{email?.from}}</div>
        <div id="To" *ngIf="root != 'inbox'">To: {{email?.to}}</div>
        <div id="message">
            {{email?.message}}
        </div> -->
    </div>
</div>

