<div id="main">
    <div style="display: grid; grid-template-columns: 3fr 1fr;">
        <div id="mail-info">
            <div class="info">
                <label>To</label>
                <input type="email" id="to" #emailbox>
            </div>
            <div class="info">
                <label>Subject</label>
                <input type="text" id="subject" #subjectbox>
            </div>
        </div>
        <div id="priority" style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; user-select: none; cursor: default;">
            <select style="box-shadow: 1px 2px 2px 1px grey; outline: none;" id="priority" #priority>
                <option value="">--Mail Priority--</option>
                <option>Urgent</option>
                <option>High</option>
                <option>Normal</option>
                <option>Low</option>
            </select>
        </div>
    </div>
    
    <div style="display: grid; grid-template-rows: 6fr 1fr;">
        <div id="mail-body">
            <textarea id="mail" cols="30" rows="10" #messagebox></textarea>
        </div>
        <div style="display: flex; flex-direction: row; margin-left: 29px;">
            <div *ngFor="let attachment of attachmentsNames" class="attachment">
                <fa-icon [icon]="faPaperclip"></fa-icon>
                {{ attachment }}
            </div>
        </div>
    </div>
    
    <div id="mail-options">
        <button id="send" (click)="send()" >
            Send
        </button>
    
        <input type="file" style="display: none;" (change)="addAttachment()" multiple #fileUpload>
        <button id="attach" (click)="fileUpload.click()">
            Attach
        </button>
    
        <button id="delete" (click)="Drafts()" [routerLink]="[{outlets:{main:'folder'}}]">
            Delete Draft
        </button>
    </div>
</div>

<!-- [routerLink]="['/mail-page', {outlets:{main:'folder'}}]" -->