<div id="main">
    <div id="mail-info">
        <div class="info">
            <label>To:</label>
            <input type="email" id="to" #emailbox>
        </div>
        <div class="info">
            <label>Subject:</label>
            <input type="text" id="subject" #subjectbox>
        </div>
    </div>
    
    <div id="mail-body">
        <textarea id="mail" cols="30" rows="10" #messagebox></textarea>
    </div>
    
    <div id="mail-options">
        <button id="send" (click)="send()" >
            Send
        </button>
    
        <input type="file" style="display: none;" (change)="addAttachment()" multiple #fileUpload>
        <button id="attach" (click)="fileUpload.click()">
            Attach
        </button>
    
        <button id="delete" (click)="Drafts()" [routerLink]="[{outlets:{main:'folder'}}]">
            Delete Draft
        </button>
    </div>
</div>

<!-- [routerLink]="['/mail-page', {outlets:{main:'folder'}}]" -->