<div id="main">
    <div id="mail-info">
        <div class="info">
            <label>To:</label>
            <input type="email" id="to">
        </div>
        <div class="info">
            <label>Subject:</label>
            <input type="text" id="subject">
        </div>
    </div>
    
    <div id="mail-body">
        <textarea id="mail" cols="30" rows="10"></textarea>
    </div>
    
    <div id="mail-options">
        <button id="send">
            Send
        </button>
    
        <button id="attach">
            Attach
            <input type="file">
        </button>
    
        <button id="delete">
            Delete Draft
        </button>
    </div>
</div>